/* CSS DO BODY, TOPO E RODAPÉ*/

/*cor de fundo*/
body{
    background-color: rgb(41, 41, 44);
    padding-top: 130px;
    padding-bottom: 9vw;
}

/*menu topo*/
#menuTopo{
    background-color: black;
    padding: 15px;
}

/*centraliza os ícones verticalmente*/
.centralizador{
    display: flex;
    align-items: center;
}

/*relógio(superior direito)*/
#relogio{
    color: white;
    font-size: 26px;
    margin-bottom: 0;
}

/*menu rodapé*/
#menuRodape{
    background-color: black;
    padding: 2% 10px;
    text-align: center
}

/*botoes sem fundo em svg(menus topo e baixo)*/
.botaoSemFundo{
    background-color: transparent;
    border-color: transparent;
}

/*reduz o padding das divs do menu rodapé quando a resolução é menor que 415px /// a classe nopadding se aplica apenas nesse caso*/
@media screen and (min-device-width: 1px) and (max-device-width: 750px) {   
    .nopadding{
        padding-left: 1px;
        padding-right: 1px;
    }
}  

.fundoConfiguracoes{
    background-color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-radius: 35px;
    min-height: 50vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

.fundoTitulo{
    background-color: pink;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 2vw;
    font-size: 22px;
    color: black;
    font-weight: 550;
}

/*botoes de configurações*/
.botaoConfig{
    background: pink;
    color: black;
    border-radius: 35px;
    padding: 10px;
    font-size: 20px;
    min-width: 70%;
    margin-top: 25px;
}

.textoConfiguracoes{
    font-size: 20px;
    margin-top: 1vw;
    margin-bottom: 0;
}


@media screen and (min-device-width: 1px) and (max-device-width: 400px) {   
    .textoConfiguracoes{
        margin-top: 6vh;
        margin-bottom: 6vh;
    }
}  
