/* CSS DO BODY, TOPO E RODAPÉ */

html{
    height: 100%;
    bottom: 1005px;
}

/*cor de fundo*/
body{
    background-image: linear-gradient(to bottom, #9A9A9A, #0F0F0F);
}

/*menu topo*/
#menuTopo{
    background-color: black;
    padding: 1%;
}

.icones {
    margin-right: 15px;
    width: 30px;
}

/*centraliza os ícones verticalmente*/
.centralizador{
    display: flex;
    align-items: center;
}

/*relógio(superior direito)*/
#relogio{
    color: white;
    font-size: 26px;
    margin-bottom: 0;
}

#box_usuario {
    background-color: #575757;
    width: 100%;
    padding: 1% 10px;
}

.iconeUser {
    width: 30px;
}

#nm_usuario {
    color: white;
    margin: 0;
}

.configuracoes {
    float:right;
}

.principal {
    margin: 120px;
    position: relative;
}

.centralizar {
    text-align: center;
    position: absolute;
}

#logoFipa {
    width: 500px;
}

#fale {
    margin: 25px;
}

.legendaIA {
    font-family: 'Bungee Hairline';
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.skills {
    margin-top: 30px;
    position: absolute;
    text-align: center;
    color: white;
}

/*menu rodapé*/
#menuRodape{
    background-color: black;
    padding: 1%;
    text-align: center;
}

/*botoes sem fundo (menu topo e baixo)*/
.botaoSemFundo{
    background-color: transparent;
    border-color: transparent;

}

/*reduz o padding das divs do menu rodapé quando a resolução é menor que 415px /// a classe nopadding se aplica apenas nesse caso*/
@media screen and (min-device-width: 1px) and (max-device-width: 750px) {   
    .nopadding{
        padding-left: 1px;
        padding-right: 1px;
    }
}  
